{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section>
        <div class="card text-start">
            <div class="card-body">
                <h4 class="card-title text-center">Home</h4>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, officiis debitis soluta aperiam dolores assumenda esse placeat quas fuga blanditiis quod, atque a illo, omnis quo perferendis eum magnam accusamus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, nihil itaque? Ab voluptatum, ratione iste non eius veritatis repellendus doloribus reiciendis impedit laboriosam illo cumque cupiditate consectetur sequi perspiciatis. Dolores. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus voluptatibus, eius quos accusantium deleniti harum eveniet nihil sed cumque laudantium numquam autem modi! Quos consequatur eos molestias itaque, quas distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, consequatur voluptas! Dolorem optio quibusdam harum dolores tempore, et exercitationem eos, rem similique libero repellendus cum consectetur in assumenda modi quaerat?</p>
                <div class="text-center">
                    <a class="btn btn-outline-primary"href="/signin" role="button">
                        Login
                    </a>
                    <a class="btn btn-outline-dark"href="/signup" role="button">
                        Create user
                    </a>
                </div>
                
            </div>
        </div>
    </section>
</main>

{% endblock %}
